@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
  url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
  url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-color: #9e9aa8;
  --strong-cyan: #2bd0d0;
  --cyan: #9ae3e3;
  --silver: #eff1f7;
  --dark-violet: #4b3f6b;
  --very-dark-violet: #3a3054;
  --black: #34313d;
  --footer-color: #232127;
  --footer-text-color: #bfbfbf;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.button-cyan {
  margin: 0;
  padding: 9px 23px 8px 24px;
  font-weight: bold;
  border-radius: 28px;
  text-decoration: none;
  color: #fff;
  background-color: var(--strong-cyan);
}

.button-cyan:hover {
  background-color: var(--cyan);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  background-color: #fff;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN_CONTENT */
.main-content {
  flex-grow: 1;
}

/* HEADER */
.header-content {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 48px 0 0;
}

.site-logo {
  display: flex;
}

.site-logo-img {
  width: 120px;
  height: 33px;
  margin-right: 45px;
}

.site-nav {
  margin-right: auto;
}

.sitenav-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: bold;
  list-style: none;
}

.sitenav-list-item:not(:last-child) {
  margin: 0 30px 0 0;
}

.sitenav-link {
  color: var(--text-color);
  text-decoration: none;
}

.sitenav-link:hover {
  color: var(--black);
}

.login {
  display: flex;
  align-items: center;
}

.button-login {
  margin: 0 37px 0 0;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color)
}

.button-login:hover {
  color: var(--black);
}


/* HERO */
.hero {
  background-image: url(../img/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: left calc(50% + 492px) top 78px;
}

.hero-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 565px;
  padding: 139px 0 222px;
}

.hero-title {
  margin: 0 0 5px;
  padding: 0;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -2px;
  color: var(--black);
}

.hero-text {
  margin: 0 0 38px;
  padding: 0;
  font-size: 22px;
  line-height: 36px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.15px;
  color: var(--text-color);
}

.start-link {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  padding: 14px 40px 12px;
  text-transform: capitalize;
}


/* MAIN */
main {
  position: relative;
  padding: 204px 0 0;
  background-color: var(--silver);
}

.global-search-form {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  min-height: 168px;
  padding: 52px 64px;
  border-radius: 10px;
  background-image: url(../img/purple-bg.svg);
  background-repeat: no-repeat;
}

.shorten-generator {
  width: 769px;
  height: 64px;
  padding: 14px 32px;
  margin: 0 24px 0 0;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  border-radius: 10px;
  border: none;
}

.shorten-generator::placeholder {
  color: var(--black);
  opacity: 0.5;
}

.shorten-generator-button {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  padding: 18px 40px 16px 41px;
  margin: 0;
  border-radius: 10px;
}

.main-header {
  margin: 0 auto 18px;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--black);
}

.main-text {
  padding: 0;
  margin: 0 auto 56px;
  max-width: 540px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0.12px;
  text-align: center;
  color: var(--text-color);
}


.statistics-lists {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin: 0 0 120px;
  padding: 0;
}

.statistics-list {
  position: relative;
  z-index: 1;
  max-width: 350px;
  margin: 44px 0 0;
  padding: 0;
  list-style: none;
  padding: 77px 32px 41px;
  background-color: #fff;
}

.statistics-list:nth-child(2) {
  margin-top: 88px;
}

.statistics-list:nth-child(3) {
  margin-top: 132px;
}

.statistic-top-img-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  position: absolute;
  top: 0;
  left: 32px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--very-dark-violet);
}

.statistic-top-img {
  display: flex;
  width: 40px;
  height: 40px;
}

.icon-customization {
  width: 47px;
  height: 48px;
}

.statistics-list-title {
  margin: 0 0 12px;
  padding: 0;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
  font-style: normal;
}

.statistics-list-text {
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.statistic-top-img:not(:first-child) {
  margin-top: +30px;
}

.line {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1110px;
  width: 100%;
  height: 8px;
  margin: 18% 0;
  background-color: var(--strong-cyan);
  list-style: none;
}

/* CTA */
.cta {
  width: 100%;
  max-width: 1440px;
  min-height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 57px;
  background-image: url(../img/cta-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.cta-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -1px;
  font-style: normal;
  margin: 0 0 32px;
  padding: 0;
  color: #fff;
}


/* FOOTER */
.site-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
   width: 100%;
  max-width: 1440px;
  min-height: 310px;
  margin: 0 auto;
  padding: 71px 0;
  background-color: var(--footer-color);
}

.footer-item {
  display: flex;
  justify-content: space-between;
}

/* .site-logo-bottom {
} */

.site-logo-img-bottom {
  width: 120px;
  height: 33px;
  
}


.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 460px;
}

.features-res-com-lists {
  margin: 0;
  padding: 0;  
}

.features-res-com-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.features-res-com-list:not(:last-child) {
  margin: 0 0 10px;
  padding: 0;
}

.features-res-com-list-title {
  margin: 0 0 22px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.25px;
  color: #fff;
}

.features-res-com-list-link {
  font-weight: 500;
  font-style: normal;
  list-style: -0.23px;
  text-decoration: none;
  color: var(--footer-text-color);
}

.features-res-com-list-link:hover {
  color: var(--strong-cyan);
}

.features-res-com-list-link:not(:last-child) {
  margin: 0 0 10px;
  padding: 0;
}

.social-links {
  display: flex;
  flex-direction: row;
}

.social-link-img {
  width: 24px;
  height: 24px;
}

.social-link-img:not(:last-child) {
  margin: 0 24px 0 0;
}

.twitter-img {
  width: 24px;
  height: 19.5px;
}
